---
import SearchLayout from '../../../layouts/SearchLayout.astro'
import SetResetPasswordForm from '../../../components/SetResetPasswordForm'
import RegisterOrUserProfile from '../../../components/RegisterOrUserProfile'
import Footer from '../../../components/Footer.astro'

const { id } = Astro.params
---

<SearchLayout>
	<div class="mx-auto flex h-[60px] w-full max-w-6xl items-center justify-between px-4">
		<a class="flex w-full items-center" href="/">
			<img class="w-12" src="/logo_transparent.png" alt="Logo" />
			<div class="text-2xl sm:text-4xl">
				Arguflow<span class="text-magenta">Vault</span>
			</div>
		</a>
		<div class="flex w-full items-center justify-end space-x-4">
			<a href="/blog" target="_blank" class="text-xl text-neutral-600 dark:text-neutral-200">
				Blog
			</a>
			<div>
				<RegisterOrUserProfile client:only="solid-js" />
			</div>
		</div>
	</div>
	<div class="flex-1"></div>
	<div class="flex justify-center">
		<SetResetPasswordForm id={id ?? ''} client:load />
	</div>
	<div class="flex-1"></div>
	<Footer />
</SearchLayout>
