---
import AutoGrowInput from "../components/AutoGrowInput.tsx";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-gray-900 h-screen py-5 text-neutral-50">
		<div class="flex items-center justify-between rounded-lg px-4 py-3 shadow-md bg-gray-800 lg:m-auto lg:max-w-5xl">
			<div class="flex items-center">
				<img
					class="w-10"
					src="/logo_transparent.svg"
					alt="Logo"
				/>
				<p class="text-lg">
				<span>Arguflow</span><span class="text-acid">Vault</span>
				</p>
			</div>
			<div class="flex items-center gap-4">
				<div class="hidden items-center gap-4 md:flex">
					<a href="https://arguflow.com/blog">Blog</a>
				</div>
				<a
					class="rounded-lg bg-acid px-4 py-2 text-neutral-900"
					>
					Create Vault
				</a>
			</div>
		</div>
		<div class="flex w-full h-full items-center justify-around flex-col">
			<div class="flex flex-col items-center space-y-4 w-full">
				<h1 class="text-white text-4xl">Arguflow<span class="text-acid">Vault</span></h1>
				<AutoGrowInput/>
			</div>
			<footer class="flex justify-between px-6 py-2 bg-gray-800 w-full text-neutral-300">
				<div class="space-x-3">
					<a class="hover:border-b">
						About
					</a>
					<a class="hover:border-b">
						AI Debater
					</a>
					<a class="hover:border-b">
						Decentralized Arguing 
					</a>
				</div>
				<div class="space-x-3">
					<a class="hover:border-b">
						Github
					</a>
					<a class="hover:border-b">
						Youtube
					</a>
					<a class="hover:border-b">
						Twitch
					</a>
					<a class="hover:border-b">
						Twitter
					</a>
				</div>
			</footer>
		</div>
	</body>
</html>



