---
import ThemeModeController from '../components/ThemeModeController'
import SearchLayout from '../layouts/SearchLayout.astro'
---

<SearchLayout>
	<div class="flex w-full flex-row justify-end">
		<ThemeModeController client:load />
	</div>
</SearchLayout>
