---
import SearchLayout from '../layouts/SearchLayout.astro'
import RegisterOrUserProfile from '../components/RegisterOrUserProfile'
import Footer from '../components/Footer.astro'
import ResultsPage from '../components/ResultsPage'

const requestParams = Astro.request.url.split('?')[1]
const params = new URLSearchParams(requestParams)
const query = params.get('q') || ''
const page = Number(params.get('page')) || 1
---

<SearchLayout>
	<div class="mx-auto flex h-[60px] w-full max-w-6xl items-center justify-between px-4">
		<a class="flex w-full items-center" href="/">
			<img class="w-6 sm:w-12" src="/logo_transparent.png" alt="Logo" />
			<div class="hidden min-[380px]:text-xl min-[360px]:block sm:text-4xl">
				Arguflow<span class="text-magenta">Vault</span>
			</div>
		</a>
		<div class="flex w-full items-center justify-end space-x-1 sm:space-x-4">
			<a href="/create" target="_blank" class="min-[420px]:text-lg"> Create Evidence</a>
			<div>
				<RegisterOrUserProfile client:only="solid-js" />
			</div>
		</div>
	</div>
	<ResultsPage page={page} query={query} client:only="solid-js" />
	<div class="flex-1"></div>
	<Footer />
</SearchLayout>
