---
import EditUserForm from '../../components/EditUserForm'
import Footer from '../../components/Footer.astro'
import RegisterOrUserProfile from '../../components/RegisterOrUserProfile'
import SearchLayout from '../../layouts/SearchLayout.astro'
---

<SearchLayout>
	<div class="mx-auto flex h-[60px] w-full max-w-6xl items-center justify-between px-4">
		<a class="flex w-full items-center" href="/">
			<img class="w-12" src="/logo_transparent.png" alt="Logo" />
			<div class="text-2xl sm:text-4xl">
				Arguflow<span class="text-magenta">Vault</span>
			</div>
		</a>
		<div class="flex w-full items-center justify-end space-x-4">
			<a
				href="https://blog.arguflow.com"
				target="_blank"
				class="text-xl text-neutral-600 dark:text-neutral-200"
			>
				Blog
			</a>
			<div>
				<RegisterOrUserProfile client:only="solid-js" />
			</div>
		</div>
	</div>
	<div class="mx-auto w-full max-w-6xl px-4">
		<h1 class="my-8 text-center text-4xl font-bold">username</h1>
		<div class="grid w-full grid-cols-2 justify-items-end gap-x-8 gap-y-6 text-end">
			<div class="font-semibold">Total upvotes received:</div>
			<div class="flex w-full justify-start">0</div>
			<div class="font-semibold">Number of cards posted:</div>
			<div class="flex w-full justify-start">0</div>
			<div class="font-semibold">Website:</div>
			<a class="flex w-full justify-start">https://arguflow.com</a>
			<div class="font-semibold">Email:</div>
			<div class="flex w-full justify-start">contact@arguflow.gg</div>
		</div>
	</div>
	<div class="flex-1"></div>
	<Footer />
</SearchLayout>
