---
import { BiLogosGithub, BiLogosTwitch, BiLogosTwitter, BiLogosYoutube } from 'solid-icons/bi'
import ThemeModeController from './ThemeModeController'
---

<div class="flex w-full flex-col items-center space-y-4 py-4">
	<div class="flex w-full justify-center space-x-3">
		<a href="https://twitter.com/arguflowai" target="_blank">
			<BiLogosTwitter size={30} />
		</a>
		<a href="https://twitch.tv/arguflow" target="_blank">
			<BiLogosTwitch size={30} />
		</a>
		<a href="https://www.youtube.com/@arguflow">
			<BiLogosYoutube size={30} />
		</a>
		<a href="https://github.com/orgs/arguflow/repositories" target="_blank">
			<BiLogosGithub size={30} />
		</a>
	</div>
	<div class="flex w-full justify-center space-x-4">
		<div class="text-neutral-600 dark:text-neutral-200">contact@arguflow.gg</div>
		<div>
			<ThemeModeController client:only="solid-js" />
		</div>
	</div>
</div>
