---
import SearchLayout from '../../../layouts/SearchLayout.astro'
import SetPasswordForm from '../../../components/SetPasswordForm'
import RegisterOrUserProfile from '../../../components/RegisterOrUserProfile'
import Footer from '../../../components/Footer.astro'

const { id } = Astro.params
---

<SearchLayout>
	<div class="flex w-full items-center justify-end space-x-4 px-4 h-[60px]">
		<a
			href="https://blog.arguflow.com"
			target="_blank"
			class="text-xl text-neutral-600 dark:text-neutral-200"
		>
			Blog
		</a>
		<div>
			<RegisterOrUserProfile client:only="solid-js" />
		</div>
	</div>
	<a class="mt-12 flex w-full flex-col items-center space-y-4" href="/">
		<div class="flex w-full items-center justify-center">
			<img class="w-12" src="/logo_transparent.png" alt="Logo" />
			<div class="text-4xl">
				Arguflow<span class="text-magenta">Vault</span>
			</div>
		</div>
	</a>
	<div class="flex-1"></div>
	<div class="flex justify-center">
		<SetPasswordForm id={id ?? ''} client:load />
	</div>
	<div class="flex-1"></div>
	<Footer />
</SearchLayout>
